<a href="https://colab.research.google.com/github/mlakireddy-cds/mycode/blob/main/Data_Munging_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use HR_Mod data to practice Data munging and visualization in python

Load libraries

In [34]:
import numpy as np
import matplotlib as mt
import scipy as sp 
import pandas as pd
import re 
import calendar as cl
import datetime as dt

# New Section

In [8]:
#Load data
hrd = pd.read_csv("HR Data_mod.csv")
hrd

        Employee Name  ...  EmpSatisfaction
0      Maria Gonzalez  ...              4.0
1        James Cockel  ...              5.0
2     Jessica Bunbury  ...              5.0
3         Edward Buck  ...              5.0
4       Hannah Jacobi  ...              5.0
...               ...  ...              ...
3354    Isla Mcdaniel  ...              4.0
3355        Lea Cantu  ...              4.0
3356     Yadiel Riggs  ...              4.0
3357   Annalise Olsen  ...              5.0
3358  Theodore Castro  ...              3.0

[3359 rows x 13 columns]

Functions to data exploration & clean-up data

In [17]:
#Check nulls, special characters and duplicates

emp = hrd[hrd['EmpSatisfaction'].isnull()]
emp.shape

(29, 13)

In [10]:
Dup = hrd[hrd.duplicated()]
Dup.shape

(38, 13)

In [2]:
#Clean columns

def EmpName_clean(s:str) -> str:
    special = "~!@#$%^&*()<>?/|"
    set_nan = False
    if s == '':
        set_nan = True
    else:
        if bool(re.search(r'\d',s)):
            set_nan = True
        else:
            if bool(re.search(r'[@_!#$%^&*()<>?/\|}{~:]',s)):
                set_nan = True
    if set_nan:
        return np.nan
    else:
        return s

In [3]:
so=re.compile('@_!#$%^&*()<>?/\|}{~:')
jp=so.search('Baba@#@')
print(jp)

None

In [6]:
EmpName_clean("Baba!!!")

nan

In [9]:
empname=hrd['Employee Name'].map(EmpName_clean)

In [14]:
empname.isna()

0       False
1       False
2       False
3       False
4       False
        ...
3354    False
3355    False
3356    False
3357    False
3358    False
Name: Employee Name, Length: 3359, dtype: bool

In [18]:
hrd.Gender.value_counts()

Female    1881
Male      1478
Name: Gender, dtype: int64

In [37]:
hrd['Hire Date'] = pd.to_datetime(hrd['Hire Date'],format='%m/%d/%yy')

ValueError: ignored